<RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H3" class="mb-3 cormonant">
    Result
</RadzenText>

<div class="d-flex flex-row mt-5 mx-2 px-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-left mx-4 px-2">
                    <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H4" class="cormonant mb-3">
                        Summary
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">
                        <span> 正しく打った文字数: @(collectCount)</span>
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">
                        <span> 間違えた文字数: @(wrongCount)</span>
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">
                        <span>精度 @(accuracy.ToString("0.00")) %</span>
                    </RadzenText>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H4" class="cormonant mb-3">
                        Section Result
                    </RadzenText>
                </div>
                <RadzenDataList WrapItems="true" AllowPaging="true" Data="@sectionResults" TItem="Typerary.Shared.PracticeSectionResult" PageSize="1" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="section">
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                課題文
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.JudgeSentence))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                入力
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.InputSentence.Replace("\n", "&#x23CE;")))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                差分
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.DiffMarkUpSentence))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                正解： @(section.CollectCount) 　/　
                                不正解：　@(section.WrongCount)　（<span style="background:#e6e6ff; font-weight:bold">置換</span>：　@(section.WrongReplaceCount)　/ <del style="background:#ffe6e6; font-weight:bold">余分</del>：　@(section.WrongDeleteCount)　/ <ins style="background:#e6ffe6; font-weight:bold">不足</ins>：　@(section.WrongInsertCount)）
                            </RadzenText>
                        </div>
                    </Template>
                </RadzenDataList>
            </div>
        </div>
    </div>
</div>



@code {
    private bool showValue = true;
    private int collectCount;
    private int wrongCount;
    private double accuracy;
    private IEnumerable<PracticeSectionResult> sectionResults;

    [Parameter]
    public PracticeResult CurrentResult { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (CurrentResult is null){ return; }
        collectCount = CurrentResult.GetCollectCount();
        wrongCount = CurrentResult.GetWrongCount();
        accuracy = CurrentResult.GetAccuracy();
        sectionResults = CurrentResult.GetSectionResults().Values;
    }
}