<RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H3" class="mb-3 cormonant">
    Result
</RadzenText>

<div class="d-flex flex-row mt-5 mx-2 px-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-left mx-4 px-2">
                    <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H4" class="cormonant mb-5">
                        Summary
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="text-primary py-2">
                        正しく打った文字数:
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H6" TextAlign="TextAlign.Right" class="text-primary">
                        <span Style="font-size: 2.5rem;">@(_collectCount)</span> 文字
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="py-2">
                        間違えた文字数:
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H6" TextAlign="TextAlign.Right">
                        <span Style="font-size: 2.5rem;">@(_wrongCount)</span> 文字
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="py-2">
                        精度:
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H6" TextAlign="TextAlign.Right">
                        <span Style="font-size: 2.25rem;">@(_accuracy.ToString("0"))</span>@((_accuracy % 1.0).ToString(".000")) %
                    </RadzenText>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H4" class="cormonant mb-3">
                        Section Result
                    </RadzenText>
                </div>
                <RadzenDataList WrapItems="true" AllowPaging="true" Data="@_sectionResults" TItem="PracticeSectionResult" PageSize="1" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="section">
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                課題文
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.JudgeSentence))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                入力
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.InputSentence.Replace("\n", "&#x23CE;")))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                差分
                            </RadzenText>
                            <RadzenCard class="text-left py-3">
                                <div class="container">
                                    <div class="col">
                                        <p class="w-100 my-3" Style="font-size: 1.2rem; line-height: 2em; user-select:none">
                                            @((MarkupString)Markdown.ToHtml(section.DiffMarkUpSentence))
                                        </p>
                                    </div>
                                </div>
                            </RadzenCard>
                        </div>
                        <div class="w-100">
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                正しく打った文字数： @(section.CollectCount)
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5" class="p-2">
                                間違えた文字数：　@(section.WrongCount)　（<span style="background:#e6e6ff; font-weight:bold">置換</span>：　@(section.WrongReplaceCount)　/ <del style="background:#ffe6e6; font-weight:bold">余分</del>：　@(section.WrongDeleteCount)　/ <ins style="background:#e6ffe6; font-weight:bold">不足</ins>：　@(section.WrongInsertCount)）
                            </RadzenText>
                        </div>
                    </Template>
                </RadzenDataList>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _showValue = true;
    private int _collectCount;
    private int _wrongCount;
    private double _accuracy;
    private IEnumerable<PracticeSectionResult>? _sectionResults;

    [Parameter]
    public PracticeResult? CurrentResult { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (CurrentResult is null)
        {
            return Task.CompletedTask;
        }

        if (Practice.Controller != null && !Practice.Controller.IsFinished)
        {
            Practice.Controller.DoFinishProcess();
        }
        
        _collectCount = CurrentResult.GetCollectCount();
        _wrongCount = CurrentResult.GetWrongCount();
        _accuracy = CurrentResult.GetAccuracy();
        _sectionResults = CurrentResult.GetSectionResults().Values;
        return Task.CompletedTask;
    }
}